.btn,
.btn2 {
  min-width: 205px;
  max-width: 300px;
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 15px;
  display: block;
  transition: all 0.2s;
  font-family: "Aux Mono";
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .btn,
  .btn2 {
    padding: 10px 15px;
  }
}

.btn {
  border: 1px solid #fc6977;
  color: black;
  background-color: #fc6977;
}
.btn.verde {
  border: 1px solid #02f994;
  background-color: #02f994;
}

.btn2 {
  border: 1px solid #fc6977;
  color: #fc6977;
  background-color: transparent;
}

.btn2.verde {
  border: 1px solid #02f994;
  color: #02f994;
}

.btn2:hover {
  background-color: #fc6977;
  color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn2.verde:hover {
  background-color: #02f994;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fc6977;
}
.btn.verde::after {
  background-color: #02f994;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
