@import "tailwindcss";

@import "./reset.css";
@import "./animations/bubbles.css";
@import "./brand/button.css";
@import "./fonts/fonts.css";

.bubblesAnimationNoise {
  @apply size-full bg-repeat bg-center opacity-30 absolute z-[1] top-0 left-0;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url(/src/assets/img/noise2.svg);
}

/* 
.swiper-slide {
	opacity: 0 !important;
}
.swiper-slide.swiper-slide-visible {
	opacity: 1 !important;
} */



.bg-texture-etapa2-luces {
  @apply bg-center bg-cover bg-no-repeat;
  /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/src/assets/img/textura-luces.gif); */
  /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/src/assets/img/textura-luces.jpg); */
  /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url(/src/assets/img/textura-calada.png); */
  background-image: url(/src/assets/img/textura-calada.png);
  background-image: url(/src/assets/img/textura-calada2.png);
  /* background-color: rgba(0, 0, 0, 0.65); */
  /* background-blend-mode: darken; */
}

.bg-gradient {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.3617822128851541) 52%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-black-noise {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(/src/assets/img/noise2.svg);
}

.bg-texture {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url(/src/assets/img/noise2.jpeg);
}

@theme {
  --color-verde: "#02F994";
  --color-gris-claro: "#ECECEC";
  --color-salmon: "#FC6977";

  --font-aux-mono: Aux Mono, sans-serif;
  --font-aeonik: Aeonik, sans-serif;
  --font-darker: Darker Grotesque, sans-serif;

  --animate-scroll: scroll 1s linear infinite;
  --animate-rotate-circle: rotate-circle 2s linear infinite;
  --animate-orbit-path: orbit-path 5s linear infinite;
  --animate-vertical-glide: vertical-glide 5s linear infinite;
  --animate-horizontal-glide: horizontal-glide 5s linear infinite;

  @keyframes scroll {
    to: {
      transform: "translate(calc(-50%-0.5rem))";
    }
  }

  @keyframes rotate-circle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes orbit-path {
    0% {
      transform: translateY(-50%) translateX(60%);
    }
    25% {
      transform: translateY(60%) translateX(100%);
    }
    50% {
      transform: translateY(60%) translateX(0%);
    }
    75% {
      transform: translateY(-50%) translateX(-80%);
    }
    100% {
      transform: translateY(-50%) translateX(60%);
    }
  }

  @keyframes vertical-glide {
    0% {
      transform: translateY(-50%) translateX(20%);
    }
    50% {
      transform: translateY(50%) translateX(60%);
    }
    100% {
      transform: translateY(-50%) translateX(20%);
    }
  }

  @keyframes horizontal-glide {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
}
