:root {
  --blending: multiply;
  --circle-size: 60%;
  --accent-color: 1, 214, 129;
  --background-dark: rgb(0, 0, 0);
  --background-darker: #1b1b1b;
  --gradient-primary: 1, 214, 129;
  --gradient-secondary: 12, 116, 117, 1;
  --gradient-tertiary: 1, 214, 129;
  --gradient-quaternary: 12, 116, 117, 1;
  --gradient-overlay: 1, 214, 129;
}

.bubble-gradient-background {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;

  svg {
    display: none;
  }

  .bubble-gradients-container {
    filter: url(#goo) blur(100px);
    height: 100%;
    width: 100%;

    .bubble-gradient-primary {
      height: var(--circle-size);
      left: calc(50% - var(--circle-size) / 2);
      mix-blend-mode: var(--blending);
      opacity: 1;
      position: absolute;
      top: calc(50% - var(--circle-size) / 2);
      transform-origin: center center;
      width: var(--circle-size);

      background: radial-gradient(
          circle at center,
          rgba(var(--gradient-primary), 0.2) 0,
          rgba(var(--gradient-primary), 0) 50%
        )
        no-repeat;
    }

    .bubble-gradient-secondary {
      height: var(--circle-size);
      left: calc(50% - var(--circle-size) / 2);
      mix-blend-mode: var(--blending);
      opacity: 1;
      position: absolute;
      top: calc(50% - var(--circle-size) / 2);
      transform-origin: calc(50% - 400px);
      width: var(--circle-size);

      background: radial-gradient(
          circle at center,
          rgba(var(--gradient-secondary), 0.2) 0,
          rgba(var(--gradient-secondary), 0) 50%
        )
        no-repeat;
    }

    .bubble-gradient-tertiary {
      height: var(--circle-size);
      left: calc(50% - var(--circle-size) / 2 - 500px);
      mix-blend-mode: var(--blending);
      opacity: 1;
      position: absolute;
      top: calc(50% - var(--circle-size) / 2 + 200px);
      transform-origin: calc(50% + 400px);
      width: var(--circle-size);

      background: radial-gradient(
          circle at center,
          rgba(var(--gradient-tertiary), 0.2) 0,
          rgba(var(--gradient-tertiary), 0) 50%
        )
        no-repeat;
    }

    .bubble-gradient-quaternary {
      height: var(--circle-size);
      left: calc(50% - var(--circle-size) / 2);
      mix-blend-mode: var(--blending);
      opacity: 0.7;
      position: absolute;
      top: calc(50% - var(--circle-size) / 2);
      transform-origin: calc(50% - 200px);
      width: var(--circle-size);

      background: radial-gradient(
          circle at center,
          rgba(var(--gradient-quaternary), 0.2) 0,
          rgba(var(--gradient-quaternary), 0) 50%
        )
        no-repeat;
    }

    .bubble-gradient-overlay {
      height: calc(var(--circle-size) * 2);
      left: calc(50% - var(--circle-size));
      mix-blend-mode: var(--blending);
      opacity: 1;
      position: absolute;
      top: calc(50% - var(--circle-size));
      transform-origin: top;
      width: calc(var(--circle-size) * 2);

      background: radial-gradient(
          circle at center,
          rgba(var(--gradient-overlay), 0.2) 0,
          rgba(var(--gradient-overlay), 0) 50%
        )
        no-repeat;
    }
  }
}
